In [1]:
x = 123
y = [1,2,3]

In [2]:
x2 = x

In [3]:
x2

123

In [4]:
x2 = 999

In [5]:
x, x2

(123, 999)

In [6]:
y2 = y    # 얉은 복사 ex)

In [7]:
y2[1] = 999

In [8]:
y2

[1, 999, 3]

In [9]:
y

[1, 999, 3]

In [10]:
y3 = y.copy()

In [11]:
y3

[1, 999, 3]

In [12]:
y3[1] = 0

In [13]:
y

[1, 999, 3]

In [14]:
y3

[1, 0, 3]

In [15]:
x3 = x.copy()  # 깊은 복사는 copy()를 사용할수 없다! xxxxxx

AttributeError: 'int' object has no attribute 'copy'

In [16]:
print('hello')

hello

In [17]:
print('hello')
print('hello', end='AAAA')
print('hello')

hello
helloAAAAhello

In [28]:
print('hello', end='')
print('hello', end='')
print('hello', end='')

hellohellohello

In [50]:
'abc'.replace('a','c')

'cbc'

In [51]:
x = input('여기에 글자를 입력해 주세요: ')

여기에 글자를 입력해 주세요: 하이

In [52]:
x

'하이'

In [65]:
import re # 패키지 사용

In [74]:
s = '오늘은 2파이썬 수업 2번째 시간입니다. 두번2째 시간에는 re패키지를 이용한 함2수를 돌려보려고 해요.'

In [76]:
re.search('\d번째',s) # try ~ 활용

In [70]:
number = '010.1234.5678'

In [77]:
re.sub('\D','',number).replace('010','')

'12345678'

In [ ]:
# 이스케이프 문자 (escape character)

In [81]:
'\'안녕\'이라고 말했어'  # 이스케이프 문자 ' ' > \ \

"'안녕'이라고 말했어"

In [87]:
"'안녕'이라고 
말했어"  # 위에랑 같다. 문자열은 한줄로 다 적어야한다.

SyntaxError: unterminated string literal (detected at line 1) (3986999634.py, line 1)

In [89]:
''''안녕'이라고 
말했어'''

"'안녕'이라고 \n말했어"

In [90]:
'\'안녕\'이라고 \n말했어'  # \n 아무것도 아닌 일반문자

"'안녕'이라고 \n말했어"

In [91]:
print('\'안녕\'이라고 \n말했어')

'안녕'이라고
말했어

In [97]:
print('안녕\r하세요') # 캐리지리턴

하세요

In [98]:
# 이스케이프 문자 실습

In [102]:
print('파이썬\t→이스케이프\t→문자\t→실습') # \t 는 한문자열 << 보기에 3번째

파이썬	→이스케이프	→문자	→실습

In [100]:
print('파이썬\n이케프\n이프문\n자실습')

파이썬
이케프
이프문
자실습

In [103]:
'파이썬\t이스케이프\t문자\t실습'[3]

'\t'

# 4장 파이썬 프로그래밍 입문 강의 4

# for 반복문의 구조

In [108]:
for i in range(10):  # for 변수 in 범위
    print(i)
    print(i+1)

0
1
1
2
2
3
3
4
4
5
5
6
6
7
7
8
8
9
9
10

In [109]:
for i in [9,8,7]:
    print(i)

9
8
7

In [110]:
for i in range(6):
    print('안녕')

안녕
안녕
안녕
안녕
안녕
안녕

## 실습
* 프로그램 만들기
* 입력: 문자열을 3개 입력받습니다
* 출력: 입력한 문자열이 모두 저장된 리스트
* 출력 예시: 예를 들어, 'A','B','C'를 입력받았다면,['A','B','C']

In [ ]:
A = input("1문자열을 입력하세요")
B = input("2문자열을 입력하세요")
C = input("3문자열을 입력하세요")
print([A,B,C])

In [15]:
x_list = []
for i in range(1,4):
    y = input('문자열을 입력(현재 {i}번 째) : ')
    x_list.append(y)
    print(x_list)

문자열을 입력(현재 {i}번 째) : A
['A']
문자열을 입력(현재 {i}번 째) : B
['A', 'B']
문자열을 입력(현재 {i}번 째) : C
['A', 'B', 'C']

In [4]:
l = []

In [5]:
l + ['a']

['a']

In [6]:
l = l + ['a']

In [7]:
l

['a']

In [ ]:
#a = []
for i in range(1,4):
    i = input('1번째 문자열을 입력:')
    B = input('2번째 문자열을 입력:')
    C = input('3번째 문자열을 입력:')
    SUM = '['+ i + ',' + B + ',' + C + ']'
    print(SUM)
    break

In [ ]:
a = []
for x in range(3)
    a += [input('1번째 문자열을 입력:')]
    print(a)

In [4]:
l = []

for i in range(3):   # == 'abc'  range(3) == 0,1,2
    x = [input(str(i+1) + '번째 문자를 입력:')]
    l = l + x

print(l)

1번째 문자를 입력:1
2번째 문자를 입력:2
3번째 문자를 입력:3
['1', '2', '3']

In [8]:
l = []

for i in ['1문자 ','2문자 ','3문자 ']:
    x = [input(i)]
    l = l + x

print(l)

1문자 45
2문자 4
3문자 56
['45', '4', '56']

In [5]:
#l = []
l = ['1','2','3']

for i in range(0,15,2):
    i = 0
    l = l + i
    
print(l)

TypeError: can only concatenate list (not "int") to list

In [17]:
list(range(0,15,2))

[0, 2, 4, 6, 8, 10, 12, 14]

In [33]:
[i*4 for i in range(10,0,-1)] # {} 반대 []

[40, 36, 32, 28, 24, 20, 16, 12, 8, 4]

In [28]:
list(range(40,3,-4))

[40, 36, 32, 28, 24, 20, 16, 12, 8, 4]

In [49]:
l = []
for i in range(10,0,-1):
    l += [i*4]
l

[40, 36, 32, 28, 24, 20, 16, 12, 8, 4]

프로그램 제작 조건
a.숫자 하나를 입력받는다
b.1부터 입력받은 숫자까지의 범위에서 짝수를 출력

[출력예시]
(숫자 6을 입력한 경우)
2 4 6

In [20]:
#A = []
A = input('숫자를 입력하세요 : ')
A = int(A)

    #A += [i]

숫자를 입력하세요 : 6

In [25]:
for i in range(2,A+1,2):
    print(i)

2
4
6

In [32]:
for i in range(1,A+1,1):
    if i % 2 == 0:
        print(i)

2
4
6

while 반복문

In [33]:
ind = 0
while ind < 10:
    ind += 1
    print(ind)

1
2
3
4
5
6
7
8
9
10

In [34]:
for i in range(2,20,2):
    print(i)

2
4
6
8
10
12
14
16
18

In [36]:
x = 2

while x < 20:
    print(x)
    x += 2

2
4
6
8
10
12
14
16
18

5!

5*4*3*2*1 = 120

In [7]:
x = int(input('숫자를 적으시오 : '))
re = 1
#x = int(x)

숫자를 적으시오 : 5

In [8]:
while 1 <= x:
    re *= x
    x -= 1
  
print(re)

120

In [3]:
x = int(input('숫자 하나 입력 : '))

re = 1

for i in range(x,0,-1):
    re *= i

print(re)

숫자 하나 입력 : 5
120

In [1]:
import math

In [2]:
math.factorial(5)

120

In [5]:
def factorial(x):   # 재귀함수
    if x == 1:
        return x
    else:
        return x * factorial(x-1)

In [9]:
factorial(7)

5040

In [21]:
for i in range(10):
    #print(i)
    pass #break #continue
    #print('안녕')

In [13]:
for i in range(10):
    print('안녕')

안녕
안녕
안녕
안녕
안녕
안녕
안녕
안녕
안녕
안녕

For문 다중 루프

In [29]:
for A in range(10):
    print(A, '번째 A 변수가 바뀌는 반복문입니다')
    
    for B in range(3):
        print(B, '번째 B 변수가 바뀌는 반복문입니다')

0 번째 A 변수가 바뀌는 반복문입니다
0 번째 B 변수가 바뀌는 반복문입니다
1 번째 B 변수가 바뀌는 반복문입니다
2 번째 B 변수가 바뀌는 반복문입니다
1 번째 A 변수가 바뀌는 반복문입니다
0 번째 B 변수가 바뀌는 반복문입니다
1 번째 B 변수가 바뀌는 반복문입니다
2 번째 B 변수가 바뀌는 반복문입니다
2 번째 A 변수가 바뀌는 반복문입니다
0 번째 B 변수가 바뀌는 반복문입니다
1 번째 B 변수가 바뀌는 반복문입니다
2 번째 B 변수가 바뀌는 반복문입니다
3 번째 A 변수가 바뀌는 반복문입니다
0 번째 B 변수가 바뀌는 반복문입니다
1 번째 B 변수가 바뀌는 반복문입니다
2 번째 B 변수가 바뀌는 반복문입니다
4 번째 A 변수가 바뀌는 반복문입니다
0 번째 B 변수가 바뀌는 반복문입니다
1 번째 B 변수가 바뀌는 반복문입니다
2 번째 B 변수가 바뀌는 반복문입니다
5 번째 A 변수가 바뀌는 반복문입니다
0 번째 B 변수가 바뀌는 반복문입니다
1 번째 B 변수가 바뀌는 반복문입니다
2 번째 B 변수가 바뀌는 반복문입니다
6 번째 A 변수가 바뀌는 반복문입니다
0 번째 B 변수가 바뀌는 반복문입니다
1 번째 B 변수가 바뀌는 반복문입니다
2 번째 B 변수가 바뀌는 반복문입니다
7 번째 A 변수가 바뀌는 반복문입니다
0 번째 B 변수가 바뀌는 반복문입니다
1 번째 B 변수가 바뀌는 반복문입니다
2 번째 B 변수가 바뀌는 반복문입니다
8 번째 A 변수가 바뀌는 반복문입니다
0 번째 B 변수가 바뀌는 반복문입니다
1 번째 B 변수가 바뀌는 반복문입니다
2 번째 B 변수가 바뀌는 반복문입니다
9 번째 A 변수가 바뀌는 반복문입니다
0 번째 B 변수가 바뀌는 반복문입니다
1 번째 B 변수가 바뀌는 반복문입니다
2 번째 B 변수가 바뀌는 반복문입니다

실습
* sq 변수의 각 값을 아래와 같이 출력하라
---
* 출력 예시 1</br>
1 2 3</br>
4 5 6</br>
7 8 9</br>

* 출력 예시 2</br>
1 2 3 4 5 6 7 8 9

In [56]:
sq = [[1,2,3],[4,5,6],[7,8,9]]

In [101]:
print(sq[0][2])
print(sq)
print(range(3))

3
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
range(0, 3)

In [63]:
for i in range(3):
    #print(sq)
    for b in range(1):
        print(sq[i])

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [64]:
for i in sq:
    print(i)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [99]:
for i in range(3):
    for b in range(3):
        print(sq[i][b], end=' ')

1 2 3 4 5 6 7 8 9

In [128]:
for i in sq:
    for j in i :
        print(j, end=' ')
        
    print()

1 2 3
4 5 6
7 8 9

In [125]:
jump = ' '
for i in sq:
    for j in i:
        print(j, end='\n'+jump)
            #print(j, end=' ')

1
 2
 3
 4
 5
 6
 7
 8
 9

In [115]:
for i in range(3):
    for b in range(3):
        print(sq[i][b], end='\n')
            print(sq[i][b], end=' ')

IndentationError: unexpected indent (4039217750.py, line 4)

while문 다중 루프

In [1]:
sq = [[1,2,3],[4,5,6],[7,8,9]]

In [1]:
i = 0

while i < 3:
    print(i)
    i += 1

0
1
2

In [7]:
i = 0

while i < 3:
    j = 0
    
    while j < 3:
        print(sq[i][j], end=' ')
        j += 1
    i += 1
    print()

1 2 3
4 5 6
7 8 9

In [4]:
i = 0

while i < 3:
    print(sq[i], end=' ')
    i += 1

[1, 2, 3] [4, 5, 6] [7, 8, 9]

조건문 if elif else

In [12]:
4 > 5

False

In [20]:
if 4 > 5:
    print('T')
elif 5 == 5:
    print('equal')
else:
    print('F')

equal

## 실습
* 1부터 입력받은 숫자까지이 범위 (step=1) 에서, 짝수만 출력하는 프로그램 만들기

In [44]:
i = int(input('입력한 숫자 : '))  # 숫자 입력 창
#x = 0

입력한 숫자 : 12

In [33]:
for i in range(0,x+1,1):
    print(x*2)

0

In [45]:
for x in range(1, i+1 ,1):   # 1~입력받은 수까지 반복
    if x % 2 == 0:   # 짝수인 경우
        print(x)
    else:   # 홀수인 경우
        pass

2
4
6
8
10
12

In [63]:
sq = [[1,2,3],[4,5,6],[7,8,9]]
x = 0
for i in range(3):
    for j in range(3):
        print(' '*x,sq[i][j])
        x += 1

 1
  2
   3
    4
     5
      6
       7
        8
         9

In [47]:
sq = [[1,2,3], [4,5,6], [7,8,9]]
a = 0
for i in range(2):
    for j in range(3):
        if i == 1 and j == 1:
            print(' '*a, sq[i][j])
            break
        print(' '*a, sq[i][j], ' '*(6-2*a), sq[2-i][2-j])
        a += 1

 1        9
  2      8
   3    7
    4  6
     5