## 실습

In [2]:
def cat():
    print('야옹')

In [3]:
cat()

야옹

In [4]:
def func1():
    return '안녕'

In [5]:
func1()

'안녕'

In [6]:
x = cat()

야옹

In [7]:
y = func1()

In [8]:
x,y

(None, '안녕')

In [12]:
def func1():
    return '아아아아안녕'
    return '안녕'
    return '아아아아안녕'

In [13]:
func1()

'아아아아안녕'

In [16]:
type(func1())

str

In [14]:
def func2():
    return '아아아아안녕','안녕'

In [15]:
func2()

('아아아아안녕', '안녕')

In [17]:
type(func2())

tuple

In [18]:
x,y = func2()

In [19]:
x

'아아아아안녕'

In [20]:
y

'안녕'

In [23]:
x,y

('아아아아안녕', '안녕')

In [35]:
def func4():
    return x + 10                # 지역변수 (로컬벨리어블)

In [36]:
x = 50                           # 전역변수 (글로벌벨리어블)

In [37]:
func4()

60

In [45]:
def func4(x):
    x = x + 10 
    return x

In [46]:
x = 50 # 전역변수

In [48]:
func4(5)

15

In [49]:
x

50

In [55]:
# 전역변수 편집
def func4():
    global x                # 지금부터 해당 전역변수를 편집을 하겠다.
    x = x + 10 
    return x

In [56]:
x = 50

In [57]:
func4()

60

In [53]:
x

60

In [66]:
def func4():
    global x                # 지금부터 해당 전역변수를 편집을 하겠다.
    x = x + 10 
    return x
    x = 30
    func4()

In [67]:
def func5(o):
    if o == 10:
        print('ten')
    else:
        print('-')

In [68]:
func5(10)

ten

In [70]:
func5(27)

-

In [77]:
def func5(o):
    if o == 10:
        return 'ten'        # 펄스라서 리턴
    #else:
        return '-'

In [78]:
func5(10), func5(27)

('ten', None)

In [73]:
def func5(o):
    if o == 10:
        return 'ten'        

        return '-'

In [76]:
func5(10)

'ten'

## 함수 실습

연산을 하는 함수 만들기

[조건]
 함수 이름 : func1
 입력받는 값: 임의의 숫자 둘(x,y)
 반환값:x/y의 나머지와 x-y를 비교해
 전자가 크면 Type1
 둘이 같거나 후자가 크면 Type2라고 반환

In [86]:
def func1(x,y):
    if x%y > x-y:
        return 'Type1'
    elif x%y < x-y:
        return 'Type2'
    else:
        return 'x,y 값이 같다'

In [87]:
func1(3,6)

'Type1'

In [108]:
'''def func1(x,y):
    
    x = input('X의 값을 적으시오 : ')
    y = input('Y의 값을 적으시오 : ')
    
    if x/y > x-y:
        return 'Type1'
    elif x/y < x-y:
        return 'Type2'
    else:
        return 'x,y 값이 같다'

x,y'''

"def func1(x,y):\n    \n    x = input('X의 값을 적으시오 : ')\n    y = input('Y의 값을 적으시오 : ')\n    \n    if x/y > x-y:\n        return 'Type1'\n    elif x/y < x-y:\n        return 'Type2'\n    else:\n        return 'x,y 값이 같다'\n\nx,y"

In [93]:
def func1(x,y):
    a = x%y
    b = x-y
    
    if a > b:
        return 'Type1'
    else:
        return 'Type2'

In [94]:
func1(3,6)

'Type1'

In [103]:
var_name = input('원하는 변수 이름을 골라주세요: ')

원하는 변수 이름을 골라주세요: ABC

In [104]:
globals()[var_name] = 999

In [105]:
abc

999

In [106]:
x

'3'

In [102]:
globals()['x']

'3'

In [114]:
def calc(x, y):
    w = x**2
    w = w + 10
    w = w + 2 * y
    return w

In [112]:
x = 10
y = 6

In [113]:
if x % 2 == 0:
    w = x**2                # 100
    w = w + 10              # 110
    w = w + 2 * y           # 110+(2*6)
    print(w)
else:
    print(0)

122

In [115]:
if x % 2 == 0:
    print(calc(x,y))
else:
    print(0)

122

In [117]:
ll = [1,2,3,4,5,6,7,8,9]

In [121]:
for i in ll:
    if i % 2 == 0:
        print('짝수')
    else:
        print('홀수')

홀수
짝수
홀수
짝수
홀수
짝수
홀수
짝수
홀수

In [122]:
def even_check(x):
    if x % 2 == 0:
        return '짝수'
    else:
        return '홀수'

In [123]:
['짝수' if i % 2 == 0 else '홀수' for i in ll]     # 리스트컴플레이션으로 1줄로 가능하다.

['홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수']

In [124]:
[even_check(i) for i in ll]          # 함수를 사용하면 위에보다 가독성이 좋아진다.

['홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수']

In [125]:
import pandas as pd

In [126]:
df = pd.DataFrame(ll)

In [129]:
df[0].apply(lambda x: '짝수' if i % 2 == 0 else '홀수')

0    홀수
1    홀수
2    홀수
3    홀수
4    홀수
5    홀수
6    홀수
7    홀수
8    홀수
Name: 0, dtype: object

In [130]:
df[0].apply(even_check)             # def even_check(x)를 사용해서 위에보다 가독성이 좋아진다.

0    홀수
1    짝수
2    홀수
3    짝수
4    홀수
5    짝수
6    홀수
7    짝수
8    홀수
Name: 0, dtype: object

In [134]:
import time

In [136]:
time.sleep(3)         # 주어진 함수만큼 대기한다. ex)퀴즈, 시간타이머, 무한루프온도체크(주기적으로)
print('안녕')

안녕

In [133]:
'hello'.replace('h','l')

'lello'

In [1]:
import 아무파이썬 # 해당패키지를 불러오기

In [2]:
아무파이썬.hello()

안녕 나는 나야

In [3]:
import 아무파이썬.module1                 # import 패키지이름.

In [4]:
아무파이썬.module1.bird()

날라 다녀서 좋겠다

In [5]:
from 아무파이썬 import module1           # 해당패키지 하나의 모듈하나를 불러옵니다. py파일이름 말고 * 을사용하면 전체파일 import가능
                                            #경로가 주로 패키지 이름으로 되어있다. 위에보다 빠르다.

In [6]:
module1.egg()

계란 하루에 한개씩

In [9]:
import module1

ModuleNotFoundError: No module named 'module1'

In [8]:
module1.math.acos(1)

AttributeError: module '아무파이썬.module1' has no attribute 'math'

In [10]:
module1.pi

AttributeError: module '아무파이썬.module1' has no attribute 'pi'

In [15]:
def f1(x):
    return x + 10                 # f1(4)가 def(x)파라미터로 들어가서 리턴값을 받아준다.

In [16]:
def f2(x):                         
    return f1(x + 2)

In [17]:
f1(4)

14

In [18]:
f2(4)

16

In [24]:
def fact(x):                        # 재귀함수
    if x == 1:
        return 1
    else:
        return x * fact(x-1)

In [26]:
fact(5)

120

In [27]:
123

123

In [28]:
456

456

#클래스

In [30]:
class MyClass():                  # 클래스는 호출이됨 일반변수랑 똑같이 쓸수있다. 편집이 된다.
    x = 987
    
    def f(self):
        print('hello')

In [35]:
MyClass.f(123)                     # MyClass 라는

hello

In [37]:
MyClass.x

987

In [38]:
def my_func():                       # 함수는 호출이 안됨.
    x = 987

In [39]:
my_func.x

AttributeError: 'function' object has no attribute 'x'

In [40]:
MyClass.x = 999

In [41]:
MyClass.x

999

In [42]:
del MyClass.x

In [43]:
MyClass.x

AttributeError: type object 'MyClass' has no attribute 'x'

In [50]:
class Complex():
    def __init__(self, int1, int2):
        self.r = int1
        self.i = int2

In [51]:
x = Complex(12,32)

In [55]:
x.r, x.i

(12, 32)

In [57]:
Complex.x

AttributeError: type object 'Complex' has no attribute 'x'

In [61]:
# Super Class
class Tree:
    kingdom = 'plantae'
    leaf = True
    fruit = 'fruit_name'
    
    def flower(self):
        print('나무에 꽃이 피었습니다.')
        
# Sub Class
class FruitTree(Tree):
    def __init__(self, fruit):
        self.fruit = fruit
        
    def observe_the_fruit(self):
        print(f'나무에 열린 열매는 {self.fruit}입니다')

In [62]:
orange = FruitTree('orange')

In [63]:
orange.observe_the_fruit()

나무에 열린 열매는 orange입니다

In [64]:
import pandas as pd

In [65]:
pd.DataFrame.sum

In [66]:
df = pd.DataFrame([1,2,3])                # 초기화된 데이터는 df로 간다

In [67]:
df.sum()

0    6
dtype: int64