## LMS 사용자 로그기록 데이터_20240529

In [1]:
import pandas as pd

In [11]:
df = pd.read_csv("../Downloads/logs_20240529-1642.csv")

In [12]:
df.head()

,시,사용자 성명,영향받는 사용자,이벤트 문맥,구성요소,이벤트 이름,설명,오리진,ip 주소
0,"29/05/24, 16:42:54",kim kyeongsoo,-,시스템,로그,로그 보고서 봄,The user with id &#039;2&#039; viewed the log ...,web,0:0:0:0:0:0:0:1
1,"29/05/24, 16:41:59",kim kyeongsoo,-,시스템,로그,로그 보고서 봄,The user with id &#039;2&#039; viewed the log ...,web,0:0:0:0:0:0:0:1
2,"29/05/24, 16:39:54",kim kyeongsoo,-,시스템,현재 기록,라이브 로그 리더 봄,The user with id &#039;2&#039; viewed the live...,web,0:0:0:0:0:0:0:1
3,"29/05/24, 16:39:15",kim kyeongsoo,-,시작 페이지,시스템,강좌 봄,The user with id &#039;2&#039; viewed the cour...,web,0:0:0:0:0:0:0:1
4,"29/05/24, 16:39:11",-,-,시작 페이지,시스템,강좌 봄,The user with id &#039;0&#039; viewed the cour...,web,0:0:0:0:0:0:0:1

In [16]:
len(df.columns)

9

In [17]:
print(df.columns, "총", len(df.columns),"개의 컬럼")

Index(['시', '사용자 성명', '영향받는 사용자', '이벤트 문맥', '구성요소', '이벤트 이름', '설명', '오리진',
       'ip 주소'],
      dtype='object') 총 9 개의 컬럼

In [19]:
len(df)

1479

In [20]:
df['사용자 성명'].unique()

array(['kim kyeongsoo', '-', 'kim jenny', 'Van daik', '손 흥민'],
      dtype=object)

In [38]:
system_ids = ['kim kyeongsoo', '-']

df_subset = df.loc[(df['사용자 성명'] != 'kim kyeongsoo') & (df['사용자 성명'] != '-')]

#df_subset = df.loc[df['사용자 성명'] not in 'kim kyeongsoo']

df_subset.head()

,시,사용자 성명,영향받는 사용자,이벤트 문맥,구성요소,이벤트 이름,설명,오리진,ip 주소
5,"29/05/24, 16:39:11",kim jenny,-,시스템,시스템,사용자가 로그아웃 했습니다.,The user with id &#039;5&#039; has logged out.,web,0:0:0:0:0:0:0:1
6,"29/05/24, 16:21:53",kim jenny,-,강좌: 파이썬필수,시스템,사용자 목록 봄,The user with id &#039;5&#039; viewed the list...,web,0:0:0:0:0:0:0:1
8,"29/05/24, 16:21:35",Van daik,-,시스템,시스템,사용자가 로그아웃 했습니다.,The user with id &#039;4&#039; has logged out.,web,0:0:0:0:0:0:0:1
9,"29/05/24, 16:21:32",Van daik,-,URL: 귀도반로섬의 인터뷰,URL,감좌 모듈 봄,The user with id &#039;4&#039; viewed the &#03...,web,0:0:0:0:0:0:0:1
10,"29/05/24, 16:21:30",Van daik,-,강좌: 파이썬필수,User tours,Tour started,The user with id &#039;4&#039; has started the...,web,0:0:0:0:0:0:0:1

In [23]:
df['사용자 성명']

0       kim kyeongsoo
1       kim kyeongsoo
2       kim kyeongsoo
3       kim kyeongsoo
4                   -
            ...
1474    kim kyeongsoo
1475    kim kyeongsoo
1476    kim kyeongsoo
1477    kim kyeongsoo
1478    kim kyeongsoo
Name: 사용자 성명, Length: 1479, dtype: object

In [33]:
len(df_subset)

113

In [42]:
df_subset.groupby('사용자 성명').size() #.plot()

사용자 성명
Van daik     52
kim jenny    33
손 흥민         28
dtype: int64

In [43]:
df_subset.columns

Index(['시', '사용자 성명', '영향받는 사용자', '이벤트 문맥', '구성요소', '이벤트 이름', '설명', '오리진',
       'ip 주소'],
      dtype='object')

In [49]:
df_subset.groupby('이벤트 이름').size()

이벤트 이름
Course activity completion updated    14
My courses viewed                      6
Tour ended                             5
Tour started                          23
감좌 모듈 봄                               20
강의 현황                                 11
강좌 봄                                  18
메시지 읽음                                 2
메시지가 전송되었습니다.                          2
사용자 목록 봄                               2
사용자 프로파일 봄                             1
사용자가 로그아웃 했습니다.                        2
사용자가 로그인 하였습니다.                        3
선택됨                                    2
이메일 보내기 실패                             2
dtype: int64

In [55]:
df_subset.groupby('이벤트 이름').size().nlargest(10)

이벤트 이름
Tour started                          23
감좌 모듈 봄                               20
강좌 봄                                  18
Course activity completion updated    14
강의 현황                                 11
My courses viewed                      6
Tour ended                             5
사용자가 로그인 하였습니다.                        3
메시지 읽음                                 2
메시지가 전송되었습니다.                          2
dtype: int64

In [60]:
df_subset.groupby('사용자 성명')['이벤트 이름'].size()

사용자 성명
Van daik     52
kim jenny    33
손 흥민         28
Name: 이벤트 이름, dtype: int64

In [63]:
#df_subset.groupby['사용자 성명','이벤트 이름'] # method error

### 사용자 행동 유형 : 활동 속도, 혹은, 인지 처리 속도 or ADHD 특성일수도...

     행동 로그 간 속도 차이가 의미있는 지표일 수 있음.
     
     문제 timestemp 데이터 형식 처리가 까다로움....

In [89]:
df_subset.시

5     2024-05-29 16:39:11
6     2024-05-29 16:21:53
8     2024-05-29 16:21:35
9     2024-05-29 16:21:32
10    2024-05-29 16:21:30
              ...
142   2024-05-29 15:48:48
143   2024-05-29 15:48:44
144   2024-05-29 15:48:44
145   2024-05-29 15:48:24
146   2024-05-29 15:48:24
Name: 시, Length: 113, dtype: datetime64[ns]

In [70]:
type(df_subset.시[5])              # 위에 index 567910~ 이런식으로 있고 0~4가 없다
                                   # 문자열은 시간화 할수 없다.

str

In [86]:
# str을 timestamp로 바꿔준다

df_subset['시'] = pd.to_datetime(df_subset['시'])
type(df_subset.시[5])

C:\Users\user\AppData\Local\Temp\ipykernel_10640\1507936384.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['시'] = pd.to_datetime(df_subset['시'])

pandas._libs.tslibs.timestamps.Timestamp

In [97]:
# 29/05/24, 16:39:11 --> string spcifier 포맷으로 표현 후 전환

from datetime import datetime

tem_timestemp = datetime.strptime(df_subset.시[6], '%Y-%m-%d %H:%M:%S') # strftime() 면 str
type(tem_timestemp)

TypeError: strptime() argument 1 must be str, not Timestamp

In [99]:
# 재변환

# '시' 열을 datetime 형식으로 변환
df_subset['시'] = pd.to_datetime(df_subset['시'])

# '시' 열의 값을 원하는 형식의 문자열로 변환
df_subset['시'] = df_subset['시'].dt.strftime('%d/%m/%y, %H:%M:%S')

# 변환된 데이터프레임 출력
print(df_subset)

# 특정 인덱스의 타입과 값을 확인
tem_timestemp = df_subset.시[6]
print(type(tem_timestemp))  # 출력: <class 'str'>
print(tem_timestemp)        # 변환된 문자열 값 출력

                      시     사용자 성명       영향받는 사용자              이벤트 문맥  \
5    29/05/24, 16:39:11  kim jenny              -                 시스템
6    29/05/24, 16:21:53  kim jenny              -           강좌: 파이썬필수
8    29/05/24, 16:21:35   Van daik              -                 시스템
9    29/05/24, 16:21:32   Van daik              -     URL: 귀도반로섬의 인터뷰
10   29/05/24, 16:21:30   Van daik              -           강좌: 파이썬필수
..                  ...        ...            ...                 ...
142  29/05/24, 15:48:48       손 흥민              -                 시스템
143  29/05/24, 15:48:44       손 흥민           손 흥민           사용자: 손 흥민
144  29/05/24, 15:48:44       손 흥민           손 흥민           사용자: 손 흥민
145  29/05/24, 15:48:24       손 흥민  kim kyeongsoo  사용자: kim kyeongsoo
146  29/05/24, 15:48:24       손 흥민              -                 시스템

           구성요소             이벤트 이름  \
5           시스템    사용자가 로그아웃 했습니다.
6           시스템           사용자 목록 봄
8           시스템    사용자가 로그아웃 했습니다.
9           URL            감좌 모듈 봄
10   User tours       Tour started
..          ...                ...
142         시스템  My courses viewed
143  User tours       Tour started
144         시스템              강의 현황
145         시스템         사용자 프로파일 봄
146         시스템    사용자가 로그인 하였습니다.

                                                    설명  오리진            ip 주소
5       The user with id &#039;5&#039; has logged out.  web  0:0:0:0:0:0:0:1
6    The user with id &#039;5&#039; viewed the list...  web  0:0:0:0:0:0:0:1
8       The user with id &#039;4&#039; has logged out.  web  0:0:0:0:0:0:0:1
9    The user with id &#039;4&#039; viewed the &#03...  web  0:0:0:0:0:0:0:1
10   The user with id &#039;4&#039; has started the...  web  0:0:0:0:0:0:0:1
..                                                 ...  ...              ...
142  The user with id &#039;3&#039; has viewed thei...  web  0:0:0:0:0:0:0:1
143  The user with id &#039;3&#039; has started the...  web  0:0:0:0:0:0:0:1
144  The user with id &#039;3&#039; has viewed thei...  web  0:0:0:0:0:0:0:1
145  The user with id &#039;3&#039; viewed the prof...  web  0:0:0:0:0:0:0:1
146      The user with id &#039;3&#039; has logged in.  web  0:0:0:0:0:0:0:1

[113 rows x 9 columns]
<class 'str'>
29/05/24, 16:21:53

C:\Users\user\AppData\Local\Temp\ipykernel_10640\2042237838.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['시'] = pd.to_datetime(df_subset['시'])
C:\Users\user\AppData\Local\Temp\ipykernel_10640\2042237838.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['시'] = df_subset['시'].dt.strftime('%d/%m/%y, %H:%M:%S')

In [96]:
# '시' 열에서 문자열을 datetime 객체로 변환 (6번째 인덱스 값 사용)
from datetime import datetime
tem_timestemp = datetime.strptime(df_subset.시[6], '%Y-%m-%d %H:%M:%S')

print(type(tem_timestemp))  # 출력: <class 'datetime.datetime'>
print(tem_timestemp)        # 변환된 datetime 객체 출력

TypeError: strptime() argument 1 must be str, not Timestamp

In [83]:
datetime.strptime(df_subset.시[5], '%d/%m/%y, %H:%M:%S')

TypeError: strptime() argument 1 must be str, not Timestamp

In [ ]:
# timedata를 integer로 바꾸는 방식

tmp_1 = datetime.strptime(df_subset.시[9], '%d/%m/%y, %H:%M:%S')
tmp_2 = datetime.strptime(df_subset.시[10], '%d/%m/%y, %H:%M:%S')

type((tmp_1 - tmp_2).second)